.testimonial {
  @include respond(tab-port) {
    width: 140%;
    margin-left: -20%;
  }
  @include respond(phone) {
    width: 100%;
    margin-left: auto;
  }
  background-color: rgba($white, 0.1);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba($black, 0.15);
  border-radius: 100rem;
  font-size: $default-font-size;
  padding-left: 9rem;
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    margin-top: -1rem;
    shape-outside: circle(50% at 50% 50%);
    position: relative;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: scale(1.05);
    filter: blur(0.5rem) brightness(70%);
  }

  &__img {
    width: 100%;
    transform: translateY(-3rem);
    transition: all 0.3s;
  }
  &__caption {
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $white;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }
}
